.loader-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-logo {
  font-size: 4rem;
  font-weight: 800;
  color: var(--text-primary);
  margin-bottom: 2rem;
  letter-spacing: -2px;
}

.loader-progress-bar-container {
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.loader-progress-bar {
  height: 100%;
  background: var(--accent-glow);
}
